fastapi
uvicorn[standard]
pillow
opencv-python
numpy
torch
torchvision
timm
transformers
facenet-pytorch
scipy
python-multipart
aiofiles
ffmpeg-python
imageio
matplotlib
scikit-image
retina-face
python-dotenv

