#sensitive files

node_modules
/node_modules
node_modules/
venv/

.env

.env
.env/
/.env
# PYTHON-BACKEND


/python-ml/uploads
/python-ml/venv
/python-ml/.gitignore
/python-ml/_pycache_
/python-ml/.env


#FRONTEND

/frontend/node_modules
/frontend/.gitignore
/frontend/.env


#BACKEND

/backend/node_modules
/backend/uploads
/backend/.gitignore
/backend/.env
