#sensitive files

node_modules
/node_modules
node_modules/
venv/
images
/images
images/
.env

index.css
index.css/
/index.css

home.css
App.css
main.css

.env
.env/
/.env
# PYTHON-BACKEND


/python-ml/uploads
/python-ml/venv
/python-ml/.gitignore
/python-ml/_pycache_
/python-ml/.env

/python-ml/requirements.txt


#FRONTEND

/frontend/node_modules
/frontend/src/App.css
/frontend/src/home.css
/frontend/src/main.css
/frontend/src/index.css
/frontend/.gitignore


#BACKEND

/backend/node_modules
/backend/uploads
/backend/.gitignore
/backend/.env
